@import "./variables";

html {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.container--fix {
  max-width: $width-container;
  padding-left: $padding-container;
  padding-right: $padding-container;
  width: 100%;
  margin: auto;
}

.container--center {
  text-align: center;
}

.container--header {
  padding-left: $padding-container;
  padding-right: $padding-container;
}

.container--green, .container--white, footer {
  padding: 4rem 0 4rem 0;

  h2 {
    font-weight: 300;
    padding-bottom: 2rem;
    font-size: 36px;
  }
}

.container--green {
  background-color: $color-secondary;
  color: $color-primary;
}

.container--white {
  background-color: white;
  color: $color-primary;

  a{
    color: $color-secondary;
  }
}

footer {
  background-color: $color-primary;
  > div {
    max-width: $width-container;
    padding-left: $padding-container;
    padding-right: $padding-container;
    color: white;
    margin: auto;
  }
}

footer ul {
  width: 100%;
  padding: 0;
  list-style: none;
}

a {
  color: white;
}

a.button--link{
  padding: 1rem;
  text-decoration: none;
  border-radius: 1rem;
}

a.button--green{
  background-color: $color-secondary;
  color: white;
}

a.button--white{
  background-color: white;
  color: $color-secondary;
  border: 2px solid $color-secondary;
}

span.label--text {
  font-weight: bold;
  padding: 0.8rem 0.5rem 0.5rem;
  white-space: nowrap;
  line-height: 4rem;
}

span.label--white {
  color: white;
  border-color: white;
  background-color: lighten($color-secondary, 10%);
}

span.label--green {
  color: $color-secondary;
  border-color: $color-secondary;
  background-color: darken(white, 10%);
}

span.no-wrap{
  white-space: nowrap;
}
