@import "./variables";

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: $color-primary;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.container--fix {
  max-width: $width-container;
  padding-left: $padding-container;
  padding-right: $padding-container;
  width: 100%;
  margin: auto;
}

.container--center {
  text-align: center;
}

.container--header {
  padding-left: $padding-container;
  padding-right: $padding-container;
}

.container--green, .container--white, footer {
  padding: 4rem 0 4rem 0;

  h2 {
    font-weight: 300;
    padding-bottom: 2rem;
    font-size: 36px;
  }
}

.container--green {
  background-color: $color-secondary;
  color: $color-primary;
}

.container--white {
  background-color: white;
  color: $color-primary;

  a{
    color: $color-secondary;
  }
}

footer {
  background-color: $color-primary;
  > div {
    max-width: $width-container;
    padding-left: $padding-container;
    padding-right: $padding-container;
    color: white;
    margin: auto;
  }
}

footer ul {
  width: 100%;
  padding: 0;
  list-style: none;
}

a {
  color: white;
}

a.button--link{
  padding: 1rem;
  text-decoration: none;
}

a.button--green{
  background-color: $color-secondary;
  color: white;
}

a.button--white{
  background-color: white;
  color: $color-secondary;
  border: 2px solid $color-secondary;
}

span.label--text {
  font-weight: bold;
  padding: 0.8rem 0.5rem 0.5rem;
  white-space: nowrap;
  line-height: 4rem;
}

span.label--white {
  color: white;
  border-color: white;
  background-color: lighten($color-secondary, 10%);
}

span.label--green {
  color: $color-secondary;
  border-color: $color-secondary;
  background-color: darken(white, 10%);
}

span.no-wrap{
  white-space: nowrap;
}

div.description--container a{
  color: $color-primary;
}

// new style 2020

.HeaderButton {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in-out;

  &--disabled {
    background-color: transparentize(lightgrey, 0.5) !important;
    transform: scale(0.9);

    &:hover {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
  }

  &:not(.HeaderButton--disabled):hover {
    transform: scale(1.2);
  }

  &-title {
    font-weight: bold;
    font-size: 1.1rem;
  }
  &-subtitle {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}


