<section id="event">
    <article class="presentation-event">
        <div class="event">
            <p>Cet événement a pour but de <em>promouvoir le secteur numérique</em>, notamment son économie, ses métiers et ses formations. Il est organisé bénévolement par le comité <em>Touraine Tech</em> de l'association PALO ALTOURS, dont l’objectif est de développer ce secteur d’activité en Touraine.</p>
            <p>Cette conférence est ouverte à un large public, aussi bien des professionnels du secteur que des étudiants préparant leur insertion dans le monde du travail.</p>
        </div>
        <div class="event">
            <p>Pour cette première édition, nous organisons une journée de conférence sur Tours dans les locaux du département informatique de <em>l'école Polytechnique de l'Université de Tours</em>.</p>
            <p>Seront mis à disposition 2 amphithéâtres, une salle de prises en mains, un grand espace sponsor, une cafétéria.<br>
                <em>La journée se déroulera sur 2 tracks de conférences pour un total de 14 conférences et 6 lightning talks</em>.</p>
        </div>
    </article>
</section>
