<section class="news" id="news">
    <h1>Les actus</h1>
    <p class="actus-reseaux">Pour suivre nos actus, suivez nous sur twitter ! <a href="https://twitter.com/tourainetech" target="_BLANK"><img src="../../img/twitter_logo_link.png" alt="Twitter" class="logo_link"></a><a href="https://www.facebook.com/tourainetech/" target="_BLANK"><img src="../../img/facebook_link_logo.png" alt="Twitter" class="logo_link"></a></p>
    <div class="news-previews-list">
        ${require('../articles/fragments/allHome')}
    </div>
    <a href="./news.html" class="link">Lire les articles</a>
</section>


