<section id="participer" itemscope itemtype="http://schema.org/Event">
    <h1>Inscriptions</h1>
    <div class="inscriptions">
        <p>La billeterie est ouverte ! Foncez vous inscrire.</p>
        <p><a href="https://www.helloasso.com/associations/palo-altours/evenements/touraine-tech-2018">inscrivez-vous ici</a></p>
        <p>
            <a href="https://twitter.com/tourainetech" target="_BLANK"><img src="../../img/twitter_logo_link.png" alt="Twitter" class="logo_link"></a>
            <a href="https://www.facebook.com/tourainetech/" target="_BLANK"><img src="../../img/facebook_link_logo.png" alt="Twitter" class="logo_link"></a>
        </p>
        <p>
            Prochain <span itemprop="name">Touraine Tech</span>
            le <span itemprop="startDate" content="2018-02-23">vendredi 23/02/2018</span>
            à
        <address itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="name">Polytech Tours</span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">64 Avenue Jean Portalis</span>,
                        <span itemprop="postalCode">37200</span>
                        <span itemprop="addressLocality">Tours</span>
                    </span>
        </address>
        </p>
    </div>
    <div class="map-responsive">
        <iframe class="lozad" data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10809.685841048247!2d0.6847465!3d47.3646921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x178da484f4c36cd4!2sPolytechnique+de+l&#39;universit%C3%A9+de+Tours!5e0!3m2!1sfr!2sfr!4v1505132799666" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
