<section id="partenaires">
    <h1>Sponsors</h1>
    <article class="sponsors">
        <div class="gold">
            <h2>Gold</h2>
            <a target="_blank" href="http://www.apside.com"><img src="../../img/logo-apside.png" alt="Logo d'apside"></a>
            <a target="_blank" href="http://lunatech.com/fr/"><img src="../../img/logo-lunatech.png" alt="Logo de Lunatech"></a>
        </div>
        <div class="silver">
            <h2>Silver</h2>
            <a target="_blank" href="http://fr.worldline.com/fr-fr/home.html"><img src="../../img/worldline.png" alt="Logo Worldline"></a>
       </div>
        <div class="bronze">
            <h2>Bronze</h2>
            <a target="_blank" href="https://www.saagie.com/fr"><img src="../../img/logo-saagie.png" alt="Logo Saagie"></a>
            <a target="_blank" href="https://code-troopers.com"><img src="../../img/logo-code-troopers.png" alt="Logo Code Troopers"></a>
            <a target="_blank" href="http://www.my-serious-game.com"><img src="../../img/logo-MySG.png" alt="Logo My Serious Game"></a>
            <a target="_blank" href="https://www.filbleu.fr"><img src="../../img/logo-keolis-tours.png" alt="Logo Keolis"></a>
        </div>
        <div class="partenaires">
            <h2>Partenaires</h2>
            <a target="_blank" href="http://polytech.univ-tours.fr"><img src="../../img/logo-polytech.png" alt="Logo de Polytech"></a>
            <a target="_blank" href="http://funlab.fr"><img src="../../img/logo-funlab.png" alt="Logo du funlab"></a>
        </div>
    </article>
    <a id="becomeSponsorLink" href="./sponsors.html">Devenir sponsor</a>
</section>
