<section class="presentation" id="presentation" itemscope itemtype="http://schema.org/NewsArticle">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://touraine.tech/"/>
    <div itemscope itemprop="image"  itemType="https://schema.org/ImageObject">
        <meta itemprop="url" content="${require('../../img/logo_tnt.svg')}">
    </div>
    <article class="presentation-intro">
        <h1 itemprop="headline">Touraine Tech</h1>
        <h2 itemprop="description">La première conférence technique en région centre<br> sur les nouvelles technologies du numérique</h2>
    </article>
    <article class="presentation-info">
        <div class="lieu">
            <img src="../../img/lieu.svg" alt="picto de localisation">
            <p>École Polytechnique de l'Université de Tours</p>
        </div>
        <div class="date">
            <img src="../../img/calendar.svg" alt="picto d'un calendrier">
            <p>Rendez-vous le 23 février 2018</p>
        </div>
        <div class="conf">
            <img src="../../img/micro.svg" alt="picto d'un micro">
            <p>14 conférences et 6 lightning talks</p>
        </div>
    </article>
    <article class="presentation-event">
        <div class="event">
            <p>Cet événement a pour but de <em>promouvoir le secteur numérique</em>, notamment son économie, ses métiers et ses formations. Il est organisé bénévolement par le comité <em>Touraine Tech</em> de l'association PALO ALTOURS, dont l’objectif est de développer ce secteur d’activité en Touraine.</p>
            <p>Cette conférence est ouverte à un large public, aussi bien des professionnels du secteur que des étudiants préparant leur insertion dans le monde du travail.</p>
        </div>
        <div class="event">
            <p>Pour cette première édition, nous organisons une journée de conférence sur Tours dans les locaux du département informatique de <em>l'école Polytechnique de l'Université de Tours</em>.</p>
            <p>Seront mis à disposition 2 amphithéâtres, une salle de prises en mains, un grand espace sponsor, une cafétéria.<br>
                <em>La journée se déroulera sur 2 tracks de conférences pour un total de 14 conférences et 6 lightning talks</em>.</p>
        </div>
    </article>
    <article class="presentation-accroche">
        <h1>Pour cette première, nous accueillerons 250 personnes</h1>
        <h1><a href="https://www.helloasso.com/associations/palo-altours/evenements/touraine-tech-2018">inscrivez vous ici</a></h1>
    </article>
</section>
