<section class="presentation" id="presentation" itemscope itemtype="http://schema.org/NewsArticle">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://touraine.tech/"/>
    <div itemscope itemprop="image"  itemType="https://schema.org/ImageObject">
        <meta itemprop="url" content="${require('../../img/logo_tnt.svg')}">
    </div>
    <article class="presentation-info">
        <div class="date">
            <img src="../../img/calendar.svg" alt="picto d'un calendrier">
            <p>Rendez-vous le 01 février 2019</p>
        </div>
    </article>
</section>
