<section class="presentation" id="presentation" itemscope itemtype="http://schema.org/NewsArticle">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://touraine.tech/"/>
    <div itemscope itemprop="image"  itemType="https://schema.org/ImageObject">
        <meta itemprop="url" content="${require('../../img/logo_tnt.svg')}">
    </div>
    <article class="presentation-intro">
        <h1 itemprop="headline">Touraine Tech</h1>
        <h2 itemprop="description">La première conférence technique en région centre<br> sur les nouvelles technologies du numérique</h2>
    </article>
    <article class="presentation-info">
        <div class="lieu">
            <img src="../../img/lieu.svg" alt="picto de localisation">
            <p>École Polytechnique de l'Université de Tours</p>
        </div>
        <div class="date">
            <img src="../../img/calendar.svg" alt="picto d'un calendrier">
            <p>Rendez-vous le 23 février 2018</p>
        </div>
        <div class="conf">
            <img src="../../img/micro.svg" alt="picto d'un micro">
            <p>18 conférences, 6 lightning talks, 4 hands on</p>
        </div>
    </article>
</section>
