<section class="themes" id="thematiques">
    <h1>Thématiques</h1>
    <p>L'axe principal mis en avant sera le développement responsable.</p>
    <ul>
        <li class="design">
            <span>Design, UI, UX</span>
        </li>
        <li class="front">
            <span>Front web, Mobile</span>
        </li>
        <li class="cloud">
            <span>Backends, Cloud, Big Data</span>
        </li>
        <li class="jeux">
            <span>Jeux vidéos et hybrides</span>
        </li>
        <li class="objets">
            <span>Internet des objets</span>
        </li>
        <li class="archi">
            <span>Conception, architecture</span>
        </li>
        <li class="outils">
            <span>Outillage, pratiques de développement</span>
        </li>
    </ul>
</section>