// Colors
$backgroundColor: #222332;
$highlightColor: #222332;
$actionColor: #6ABFAD;
$NavbgColor: #fff;
$textColor: #fff;
// Media sizes
$largeScreen: 1690px;
$oldScreen: 1280px;
$tablet: 980px;
$largePhone: 736px;
$phone: 480px;

// Google font
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700');
$font-stack: Raleway, sans-serif;



/**
 * Globals
 */
html, body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex: 1;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: $font-stack;
  font-size: 5vw;
  @media (min-width: $tablet), (orientation: landscape) {
    font-size: 1.5vw;
  }
}

/**
 * Defaults
 */

h1, h2 {
  font-size: 1.5rem;    
  font-weight: normal; 
  text-transform: uppercase; 
  font-weight: 600;    
}

a.link {
  text-decoration: none;
  color: $textColor;
  text-align: center;    
}

/**
 * Nav Header
 */
.nav-header {
  flex-grow: 0;

  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: $NavbgColor;

  flex-direction: column;
  @media (min-width: $tablet) {
    flex-direction: row;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    img{
      width: 10vw;          
    }  
      
    h1 {
      margin: 0;
      color: $highlightColor;
      font-size: .8rem;
      
    }  
  }
  .nav-open {
    font-size: 1.2rem;

    color: $textColor;
    background-color: $actionColor;

    padding: 0.5rem;
    border-radius: 4px;


    @media (min-width: $tablet) {
      display: none;
    }
  }

  #nav-trigger {
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + nav {
      display: block;
    }
  }

  nav {
    display: none;
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  nav a {
    padding: 15px;
    color: $highlightColor;
    &:hover {
      background-color: $actionColor;
      color: $textColor
    }
    @media (max-width: $tablet - 1) {
      display: block;
      text-align: center;
    }
  }
}

/**
 * Main content
 */
.content {
  flex: 1;
  overflow-y: scroll;
  > section, .presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    min-height: 100%; // Take a complete screen height minus the top bar.

    &:nth-of-type(2n+1) {
      background-color: $highlightColor;
    }
    &:nth-of-type(2n), &.presentation {
      background-color: $backgroundColor;
    }
  }
}

.presentation {
  h2 {
    line-height: 2.5rem;
  }    
  .presentation-date {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $actionColor;
    padding: 30px 0;   
  }
}

.themes {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.2rem;
      font-weight: bold;

      background-color: $actionColor;
      border-radius: 50%;
      width: 60vmin;
      height: 60vmin;
      margin: 5%;
      @media (min-width: $largePhone) {
        width: 20vw;
        height: 20vw;
      }
    }
  }
}

.numbers {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      line-height: 1.3rem;
    }
  }

  @media (min-width: $tablet) {
    flex-direction: row !important;
    & > * {
      flex: 1;
    }
  }
}