// Colors
$BgColorLight: #fff;
$BgColor: #6ABFAD;
$BgColorDark: #222332;

$textColor: #fff;

// Media sizes
$largeScreen: 1690px;
$oldScreen: 1280px;
$tablet: 980px;
$largePhone: 736px;
$phone: 480px;

// Google font
$fontstack: 'Raleway', sans-serif;



/**
 * Globals
 */
html, body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex: 1;
  color: $textColor;
  font-family: $fontstack;
  font-size: 4vw;
  @media (min-width: $tablet), (orientation: landscape) {
    font-size: 1.5vw;
  }
}

/**
 * Defaults
 */

%align{   
  font-weight: normal; 
  text-transform: uppercase; 
  font-weight: 600;      
}

@mixin title($color, $size){
    @extend %align;
    color: $color;
    font-size: $size;
}

%alignFlex{
    display: flex;
    align-items: center; 
}

@mixin flex($content){
    @extend %alignFlex;
    justify-content: $content;
}

%sectionSpace{
    padding: 40px 0;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -ms-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

a.link {
  text-decoration: none;
  color: $textColor;
  text-align: center;    
}

/**
 * Nav Header
 */
.nav-header {
  flex-grow: 0;

  @include flex(space-between); 
  padding: 0 10px;
  background-color: $BgColorLight;

  flex-direction: column;
  @media (min-width: $tablet) {
    flex-direction: row;
  }

  .nav-bar {
    @include flex(space-between); 
    flex: 1;

    img{
      width: 10vw;          
    }  
      
    h1 {
      @include title($BgColorDark, .8rem);
      margin-top: 0;    
    }  
  }
  .nav-open {
    font-size: 1.2rem;

    color: $textColor;
    background-color: #000;

    padding: 0.5rem;
    border-radius: 4px;


    @media (min-width: $tablet) {
      display: none;
    }
  }

  #nav-trigger {
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + nav {
      display: block;
    }
  }

  nav {
      @include flex(center);
    @media (max-width: $tablet) {
       display: none;
    }
  }

  nav a {
    padding: 15px;
    color: $BgColorDark;
    &:hover {
      background-color: $BgColor;
      color: $textColor;
    }
    @media (max-width: $tablet - 1) {
      display: block;
      text-align: center;
    }
  }
}

/**
 * Main content
 */
.content {
  flex: 1;
  overflow-y: scroll;
  > section, .presentation {
    @include flex(center);  
    flex-direction: column;
    text-align: center;

    min-height: 100%; // Take a complete screen height minus the top bar.

    &:first-child {
      background-color: $BgColorDark;
    }
//    &:nth-of-type(2n), &.presentation {
//      background-color: $BgColorDark;
//    }
  }
}

.presentation {
  & .presentation-intro{
    @extend %sectionSpace;    
  }    
  h1{
    @include title($BgColorLight, 2rem);   
  }    
  h2 {
    line-height: 2.8rem;
    font-weight: 500;  
    font-size: 2vw;  
  }    
  & .presentation-date {
    @include flex(center); 
    font-size: 1.8vw; 
    width: 100%;
    background-color: $BgColor;
    padding: 30px 0;  
    margin-bottom: 0;  
      
    img{
        margin-right: 15px;
    }  
  }
  & .presentation-event{
    @include flex(center); 
    background-color: $BgColorLight;
    margin: 0;
    color: $BgColorDark;  
      
    img{
      width: 50%;
      height: 100%;
      margin-right: 25px;
    }  
    p{
      line-height: 2.5vw;    
      text-align: left;
    }
  }    
}

.themes {
  @extend %sectionSpace;    
  h1{
    @include title($BgColorDark, 2rem);   
  }   
  p{
    color: $BgColorDark;
  }    
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    @include flex(space-evenly); 
    flex-wrap: wrap;
    li {
      @include flex(center); 

      font-size: 1.2rem;
      font-weight: 500;  

      border-radius: 5%;
//      width: 60vmin;
//      height: 60vmin;
      margin: 4vw;
        
      background-size: 100%;
//      border: 1px solid $BgColorDark;    
   
        &.design{ background-image: url(../img/1_design.svg);}
        &.front{ background-image: url(../img/2_front.svg);}
        &.cloud{ background-image: url(../img/3_cloud.svg);}
        &.jeux{ background-image: url(../img/4_jeux.svg);}
        &.objets{ background-image: url(../img/5_objets.svg);}
        &.archi{ background-image: url(../img/6_archi.svg);}
        &.outils{ background-image: url(../img/7_outils.svg);}
    
        & span{
            @include transition(all .3s);
            transform: scale(0) rotate(180deg);
            color: $BgColorLight;
            background-color: rgba($BgColorDark, .85);
            width: 100%;
            height: 100%;
            @include flex(center);
            line-height: 3vw;
            border-radius: 5%;
        }
        
        &:hover span{
            transform: scale(1) rotate(0);
        }
        
        
      @media (min-width: $tablet) {
        width: 14vw;
        height: 14vw;
      }      
    }
  }
}

.numbers {
  @extend %sectionSpace; 
  background-color: $BgColorDark;  
  h1{
    @include title($BgColorLight, 2rem);   
  }     
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      line-height: 1.3rem;
    }
  }

  @media (min-width: $tablet) {

  }
}

#quisommesnous{
  @extend %sectionSpace; 
  background-image: url(../img/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;    
  background-color: $BgColor;    
  background-blend-mode: multiply;    
}
#participer{
  @extend %sectionSpace; 
  background-color: $BgColor;       
}
#proposer{
  @extend %sectionSpace; 
  background-color: $BgColorDark;       
}