// Colors
$BgColorLight: #fff;
$BgColor: #6ABFAD;
$BgColorDark: #1f202c;
$bgTable: #f2f2f4;
$bgtableBronze: #ef6a36;
$bgtableSylver: #2b3041;
$bgtablegold: #83cec5;

$textColor: #fff;

// Media sizes
$largeScreen: 1690px;
$oldScreen: 1280px;
$tablet: 980px;
$largePhone: 736px;
$phone: 480px;

// Google font
$fontstack: 'Raleway', sans-serif;