@import "../variables";
.content > section.agenda, .content > section.talkDescription {
  background-color: $BgColorDark;
}
.agenda-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  padding: 15px;
  .agenda-resource {
    flex: 1;
  }
}

.agenda-resource {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 2px;

  > h1 {
    flex: 0;
  }
}

$cellSize: 11rem;
.agenda-resource .agenda-event {
  flex: 1;

  @media (min-width: $tablet) {
    flex-basis: $cellSize;
  }
}

.agenda-TD .agenda-event {
  flex: 1;

  @media (min-width: $tablet) {
    flex-basis: 2.25 * $cellSize;
  }
}

.agenda-TD .agenda-event.keynote {
  flex: 1;
  @media (min-width: $tablet) {
    flex-basis: $cellSize;
    background-color: $BgColorDark;
    border: none;
  }
  .agenda-hours {display: none;}
}

.agenda-event {
  display: flex;
  flex-direction: column;

  background-color: $BgColor;
  border: 1px solid $bgtablegold;
  padding: 10px;

  h1 {
    margin: auto;
  }
}

.agenda-event.lightning {
  flex-basis: $cellSize / 2;
  p {
    margin: 0;
  }
}

.agenda-event.break {
  background-color: $BgColorDark;
  border: none;
  flex-basis: $cellSize / 4;

  .agenda-hours {display: none;}
}

.description-content dd p {
  text-align: justify;
  margin-right: 5vw;
}