@import "../variables";
.content > section.agenda, .content > section.talkDescription {
  background-color: $BgColorDark;
}
.agenda-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  padding: 15px;
  .agenda-resource {
    flex: 1;
  }
}

.agenda-resource {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 2px;

  > h1 {
    flex: 0;
  }
}

$cellSize: 11rem;
.agenda-resource .agenda-event {
  flex: 1;

  @media (min-width: $tablet) {
    flex-basis: $cellSize;
  }
}

.agenda-TD .agenda-event {
  flex: 1;

  @media (min-width: $tablet) {
    flex-basis: 2.25 * $cellSize;
  }
}

.agenda-TD .agenda-event.keynote {
  flex: 1;
    @media (min-width: $tablet) {
      flex-basis: $cellSize;
      .agenda-event-wrapper {
        background-color: $BgColorDark;
        border: none;
      }
    }
  .agenda-hours {display: none;}
}

.agenda-event {
  display: flex;
  flex-direction: column;
  background-color: $BgColor;
  &.keynote .agenda-event-wrapper{
    border-bottom-width: 0;
  }
}

.agenda-event-wrapper {
  flex: 1;

  display: flex;
  flex-direction: column;

  background-color: $BgColor;
  padding: 10px;

  border-bottom-width: 1rem;
  border-bottom-style: solid;

  h1 {
    margin: auto;
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
    color: $textColor;
  }
}

.agenda-event.lightning {
  flex-basis: $cellSize / 1.5;
  p {
    margin: 0;
  }
}
.agenda-event.lightning-break {
  flex-basis: $cellSize / 1.5;
  background-color: $BgColorDark;
  border: none;
  .agenda-event-wrapper {
    display: none;
  }
}

.agenda-event.break {
  flex-basis: $cellSize / 4;
  max-height: $cellSize / 4;

  .agenda-event-wrapper {
    background-color: $BgColorDark;
    border: none;
  }

  .agenda-hours {display: none;}
}

.description-content {
  dd {
    border-left-width: 1rem;
    border-left-style: solid;
    padding-left: 1rem;
    p {
      text-align: justify;
      margin-right: 5vw;
    }
  }
}

.agenda-event.noContent div {
  background-color: $BgColorDark;
  border: none;
  .agenda-hours {display: none;}
}